<h1>Reversing string</h1>
<p>Give the string you want to reverse</p>
<form action="/reverse" method="post" accept-charset="utf-8">
<input type="text" name="post[string]" value="" id="string" /><br />
<input type="submit" value=".. and display it!">
</form>