<h1>Reversing string result</h1>
<p><strong>You had entered:</strong></p>
<p><%= params[:post][:string] %></p>
<p><strong>You get:</strong></p>
<p><%= params[:post][:string].reverse %></p>
<p><em>Click <a href="/">here</a> to try a new string.</em></p>